<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debugLog</key>
	<false/>
	<key>initConfig</key>
	<dict>
		<key>suggestConfig</key>
		<dict>
			<key>怎么配置</key>
			<string>该内容的配置为快速登录后的建议绑===定==手==机的内容，需要配置不同的特权就在Item数组中增加即可</string>
			<key>tip</key>
			<string>*亲爱的玩家，未绑定手机模式无法保障游戏数据的安全，删除游戏、更换设备等都有可能被清除。为保障您的虚拟财产安全，强烈建议绑定手机</string>
			<key>Item</key>
			<array>
				<string>快速找回账号和密码</string>
				<string>专属客服MM联系</string>
			</array>
		</dict>
		<key>suspensionBallConfig</key>
		<dict>
			<key>使用和配置</key>
			<string>该内容为悬浮球的内容，默认(可以设置showball来进行不显示)会在审======核===后的（showtime）配置时间的秒数显示悬浮球</string>
			<key>showball</key>
			<true/>
			<key>showtime</key>
			<integer>3</integer>
		</dict>
		<key>defaultConfig</key>
		<dict>
			<key>passVideoPresent</key>
			<string>0.2</string>
			<key>autoLoginDuration</key>
			<integer>3</integer>
			<key>serverConfig</key>
			<dict>
				<key>koukou</key>
				<string>286882356</string>
				<key>gongzhonghao</key>
				<string>心悦湾</string>
				<key>time</key>
				<string>9:00--19:00</string>
			</dict>
			<key>passLoginConfig</key>
			<dict>
				<key>username</key>
				<string></string>
				<key>uid</key>
				<string></string>
				<key>passLoginDec</key>
				<string>敬告：提----审使用，isPassLogin：0/1（是否跳过登录）。如果isPassLogin=1，uid和username必须设置</string>
				<key>isPassLogin</key>
				<string>0</string>
			</dict>
			<key>inputViewType</key>
			<string>3</string>
			<key>videoName</key>
			<string>movie</string>
			<key>videoType</key>
			<string>mp4</string>
			<key>color</key>
			<dict>
				<key>titleFontColor</key>
				<string>#ACACAC</string>
				<key>inputViewLineColor</key>
				<string>#cccccc</string>
				<key>themeColor</key>
				<string>#0183B5</string>
				<key>fillColor</key>
				<string>#9B9B9B</string>
				<key>backgroundColor</key>
				<string>#ffffff</string>
				<key>commitBtnBackgroundColor</key>
				<string>#0183B5</string>
				<key>commitBtnFontColor</key>
				<string>#ffffff</string>
				<key>inputViewPlaceholderColor</key>
				<string>#757575</string>
			</dict>
		</dict>
	</dict>
	<key>requestConfig</key>
	<dict>
		<key>member</key>
		<string>login</string>
		<key>port</key>
		<string>11002</string>
		<key>interFace</key>
		<string>userua</string>
		<key>appstore</key>
		<string>apppay</string>
		<key>memberole</key>
		<string>urole</string>
		<key>updateuserlogin</key>
		<string>ulog</string>
		<key>gameinitialise</key>
		<string>init</string>
		<key>type</key>
		<string>login</string>
		<key>memberorder</key>
		<string>genorder</string>
		<key>ip</key>
		<string>101.132.113.84</string>
		<key>activate</key>
		<string>act</string>
	</dict>
</dict>
</plist>
